<div ng-controller="MainController as mainCtrl">

<div class="row">
<h1 id="main_page_header"class="col-md-12">Lip Sync Battle</h1>
</div>
 <!-- Start of Team Cards -->
 <div class="row">
   <li class="col-md-3 " id="card_list" ng-repeat="team in mainCtrl.teams">
     <img ng-src="{{mainCtrl.pics}}" alt="..." class="img-circle">
     <h3 id="card_team_name">{{team.name}}</h3>
     <h4>{{team.hashtag}}</h4>
   </li>
 </div>
 <!-- End of Team Cards -->

<!-- Start of Progress bar code -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div id="progress_bars" class="progress" ng-repeat="team in mainCtrl.teams">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{team.voteCount}}%">
        {{team.name}}<span class="sr-only">40% Complete (success)</span>
      </div>
    </div>
  </div>
</div>
<!-- End of Progress bar code -->

<div class="row">
  <li id="tweet_list" class="col-md-8 col-md-offset-3" ng-repeat="tweet in mainCtrl.tweets">
    <img id="tweet_image" ng-src="{{tweet.imageURL}}" alt="..." class="img-circle">
    <h4 id="tweet_username"  class="col-md-8">{{tweet.username}}</h4>
    <h4 id="tweet_body" class="col-md-8">{{tweet.tweetBody}}</h4>
  </li>
</div>

</div>
